@import "reset.css";

body {
  height: 100vh;
  font-family: "roboto, sans serif";
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* justify-content: space-around; */
  align-items: center;
  background-color: #7359dc;
}
form {
  margin-top: 20px;

  background-color: #e5e5e5;
  /* border: solid 1px blue; */
  width: 400px;
  overflow: hidden;
  border-radius: 15px;
}

button {
  /* border: solid 1px blue; */
  font-size: 30px;
  cursor: pointer;
}

input {
  margin-bottom: 10px;
  margin-top: 20px;
  width: 80%;
  margin-left: 37px;
  display: flex;
  height: 40px;
  border: 1px solid #c4c4c4;
}
textarea {
  margin-bottom: 10px;
  margin-top: 20px;
  width: 80%;
  margin-left: 36px;
  border-radius: 5px;
}
.thebutton {
  background: #7359dc;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}
.hidden {
  display: none;
}
.display {
  display: block;
}

.text {
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
  font-weight: 400;
  text-align: center;
}
